@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-google-sans: var(--font-google-sans);
  --font-lato: var(--font-lato);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@utility animate-shrink {
  animation: shrink 1s ease-in-out ;
}

@keyframes shrink {
  0%{
    transform: scale(1);
    rotate:-12deg;
  }
  50%{
    transform: scale(0.8);
    rotate:12deg;
  }
  100%{
    transform: scale(1);
    rotate:0deg;
  }
}

body {
  --s: 50px; /* control the size*/
  --c1: #f9f9f9;
  --c2: #ffffff;
  --c3: #ffffff;
  
  --_g: 0 120deg,#0000 0;
  background:
    conic-gradient(             at calc(250%/3) calc(100%/3),var(--c3) var(--_g)),
    conic-gradient(from -120deg at calc( 50%/3) calc(100%/3),var(--c2) var(--_g)),
    conic-gradient(from  120deg at calc(100%/3) calc(250%/3),var(--c1) var(--_g)),
    conic-gradient(from  120deg at calc(200%/3) calc(250%/3),var(--c1) var(--_g)),
    conic-gradient(from -180deg at calc(100%/3) 50%,var(--c2)  60deg,var(--c1) var(--_g)),
    conic-gradient(from   60deg at calc(200%/3) 50%,var(--c1)  60deg,var(--c3) var(--_g)),
    conic-gradient(from  -60deg at 50% calc(100%/3),var(--c1) 120deg,var(--c2) 0 240deg,var(--c3) 0);
  background-size: calc(var(--s)*sqrt(3)) var(--s);
}

.hero-cta{
  @apply flex justify-center h-auto items-center rounded-2xl py-2 px-2 gap-1.5 font-medium capitalize text-xs md:text-lg border-2 border-gray-400 hover:scale-105 cursor-pointer;
}